// Spruce 2.2.2
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #eee;
$white:                 #fff;


// Accent colors
// -------------------------
$blue:                  #004E8B;
$blueDark:              #013435;
$green:                 #015B4E;
$red:                   #D14432;
$yellow:                #F0F1E1;
$orange:                #F26522;
$pink:                  #A15B66;
$purple:                #7073CF;


// Scaffolding
// -------------------------
$bodyBackground:        $white;
$textColor:             $gray;
