<div ng-repeat="game in games.factory.games | spectate">
	<div class="well">
		<div class="row">
			<div class="span5">
				<a ng-if="game.state !== 'open'" ui-sref="playing.spectate({gameId: game.id})" ><h2> {{game.gameTemplate.id}} board </h2></a>
				<h2 ng-if="game.state === 'open'"> {{game.gameTemplate.id}} board </h2>
				<h4> Created on: {{game.createdOn | date: 'dd-MM-yyyy'}} </h4>
				<button class="btn btn-primary" ng-click="games.startGame(game._id)" ng-if="games.isOwner(game) && game.state === 'open'">Start Game</button>
			</div>
			<div class="span2">
				</br>
				<span class="fa fa-group" style="font-size: 36px;" class="btn btn-default">{{game.players.length}}/{{game.maxPlayers}}</span>
			</div>
			<div class="span2">
				</br>
				<span ng-if="game.state === 'open'" class="fa fa-user-plus" style="font-size: 40px;" ng-click="games.join(game._id)"></span>
				<h4 ng-if="game.state !== 'open'" style="font-size: 20px;">Game is {{game.state}}</h4>
			</div>
			<div class="span2">
				<div ng-repeat="player in game.players">
					{{player.name}}
				</div>
			</div>
		</div>
	</div>
</div>