<div data-ng-init="init()" data-offset="80">
  <div class="pull-left span4 well" style="padding-top: 80px;">
    <div class="row">
      <ul class="nav nav-tabs">
        <span ng-repeat="tab in game.factory.tabs" class= "nav nav-tabs">
          <li class="{{tab.class}} span2" ng-click="game.factory.switchTab(tab.text)"><a role="tab">{{tab.text}}</a></li>
        </span>
      </ul>
    </div>
    <div id="players" ng-show="(game.factory.tabs[0].class === 'active')">
      <div ng-repeat="player in game.factory.players">
        <div class="row">
          <h5>{{player.name}}</h5>
          <h6>{{player.numberOfMatches}} matches</h6>
          <div id="last-matched">
            <div class="tile span6 tile-{{player.lastMatch[0].tile.suit}}-{{player.lastMatch[0].tile.name}}" id="matched1"></div>
            <div class="tile span6 tile-{{player.lastMatch[1].tile.suit}}-{{player.lastMatch[1].tile.name}}" id="matched2"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="gameLog" ng-show="(game.factory.tabs[1].class === 'active')">
      <div ng-repeat="log in game.factory.gameLog | orderBy: 'match.foundOn' : true">
        <b>{{log.match.foundOn | date: 'dd-MM-yyyy HH:mm:ss'}} </b>match by {{log.match.foundBy}}
      </div>
    </div>
  </div>
	<div class="container" style="padding-top: 80px;">
    <div class="game" ng-show="game.state === 'playing'">
        <div ng-repeat="tile in game.factory.gameTiles">
          <div id="{{tile._id}}"
            ng-click="game.select(tile)"
            class="tile-{{tile.zPos}} select-tile tile-{{tile.tile.suit}}-{{tile.tile.name}} {{tile.class}}" 
            style='margin-left:{{tile.xPos*36}}; margin-top: {{tile.yPos*45}};'> 
          </div>
        </div>
    </div>
    <div ng-show ="game.state === 'finished'">
      <h1> The game has ended </h1>
    </div>
		
	</div>
</div>
