<html lang="en" ng-app="Mahjongh">
 <head>
	<title>Welcome to Mahjongh</title>
	<!-- The css is copied into dist/css/app.css by the copy task -->
	<link rel="stylesheet" href="css/app.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
 </head>
 <body ng-controller="GameController as games" data-offset="80">
 	<div class="navbar navbar-fixed-top">
   		<div class="navbar-inner">
    		<div class="container">
       			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         			<span class="icon-bar"></span>
         			<span class="icon-bar"></span>
         			<span class="icon-bar"></span>
       			</a>
       			<a class="brand" href="../">Mayjongh Mayhem</a>
       		</div>
       	</div>
   	</div>
 	<div class="container" style="padding-top: 80px;">
 		<div class="row">
 			<div class="span10">
	 			<h1> Kies een game! </h1>
	 		</div>
	 		<div class="span2">
	 			<button class="btn btn-default" data-toggle="modal" data-target="#addGame" id="addGame"> Add game </button>
	 		</div>
 		</div>
   		<div ng-repeat="game in games.factory.games">
   			<div class="well">
	   			<div class="row">
	   				<div class="span7">
		   				<h2> {{game.name}} </h2>
		   				<h4> {{game.boardType}} board </h4>
		   			</div>
		   			<div class="span2">
		   				</br>
		   				<span class="fa fa-group" style="font-size: 40px;">{{game.players.length}}</span>
		   			</div>
		   			<div class="span2">
		   				</br>
		   				<span ng-if="game.state === 'open'"
		   				class="fa fa-user-plus" style="font-size: 40px;"></span>
		   				<h4 ng-if="game.state !== 'open'"
		   				 style="font-size: 20px;">Game is {{game.state}}</h4>
		   		</div>
   			</div>
   		</div>

   		<div class="modal" id="addGameModal">
		    <div class="modal-dialog">
		        <div class="modal-content">
		             <div class="modal-header">
		                  <button type="button" class="close close-btn" data-dismiss="addGameModal" aria-hidden="true">×</button>
		                   <h4 class="modal-title">Modal title</h4>
		             </div>
		             <div class="modal-body">
		                 ...
		             </div>
		             <div class="modal-footer">
		                  <button type="button" class="btn btn-default close-btn" data-dismiss="addGameModal">Close</button>
		                  <button type="button" class="btn btn-primary">Save changes</button>
		             </div>
		       </div>
		    </div>
		</div>
	</div>


   	<script src="js/app.js"></script>
   	<script>
   		$(document).ready(function() {
   			$("#addGame").click(function() {
   				$("#addGameModal").show();
   			});
   			$('.close-btn').click(function() {
   				$("#addGameModal").hide();
   				$('body').removeClass('modal-open');
				$('.modal-backdrop').remove();
   			})
   		})
   	</script>

 </body>
</html>