<html lang="en" ng-app="Mahjongh">
 <head ng-controller="LoginController as loginCtrl">
	<title>Welcome to Mahjongh</title>
	<!-- The css is copied into dist/css/app.css by the copy task -->
	<!-- <link rel="stylesheet" href="css/{{loginCtrl.factory.style}}_app.css"/> -->
	<link rel="stylesheet" href="css/{{loginCtrl.factory.style}}_app.css"/>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<script type="text/javascript">
		function updateTextInput(val) {
	    	document.getElementById('minPlayersVal').value=val; 
	    }
		function updateTextInput2(val) {
	    	document.getElementById('maxPlayersVal').value=val; 
	    }
	</script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="http://mahjongmayhem.herokuapp.com/socket.io/socket.io.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
 </head>

 <body data-offset="80">
 	<div class="navbar navbar-fixed-top" ng-controller="LoginController as loginCtrl">
   		<div class="navbar-inner">
    		<div class="container">
       			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         			<span class="icon-bar"></span>
         			<span class="icon-bar"></span>
         			<span class="icon-bar"></span>
       			</a>
       			<a class="brand" ui-sref="gameList.all" ui-sref-active="active">Mayjongh Mayhem</a>
       			<ul class="nav pull-right">
       				<li class="dropdown">
		            <a class="dropdown-toggle" data-toggle="dropdown">Switch style <b class="caret"></b></a>
		            <ul class="dropdown-menu">
		              <li ng-click="loginCtrl.switchStyle('green')"><a>Green</a></li>
		              <li class="divider"></li>
		              <li ng-click="loginCtrl.switchStyle('blue')"><a>Blue</a></li>
		            </ul>
		          </li>

	       			<li><a ng-click="loginCtrl.logOut()" ng-if="loginCtrl.userLoggedIn()">Log out</a></li>
	       			<li><a href="http://mahjongmayhem.herokuapp.com/auth/avans?callbackUrl=http://localhost:8080/%23/auth" ng-if="!loginCtrl.userLoggedIn()">Log in</a></li>
	       		</ul>
       		</div>       		
       	</div>
   	</div>
	<div ui-view></div>

   	<script src="js/app.js"></script>
   	<script src="vendor/ui-bootstrap-tpls-0.12.1.min.js"></script>
</body>
</html>