	<div ng-controller="GameController as games" data-ng-init="init()" class="container" style="padding-top: 80px;">
 		<div class="row">
 			<div class="span10">
	 			<h1> Kies een game! </h1>
	 		</div>
	 		<div class="span2">
	 			<button class="btn btn-default" ng-click="games.open()" id="addGame"> Add game </button>
	 		</div>
 		</div>
   		<div ng-repeat="game in games.factory.games">
   			<div class="well">
	   			<div class="row">
	   				<div class="span5">
		   				<a ng-if="game.state !== 'open'" ng-href="#/game/{{game.id}}" ><h2> {{game.gameTemplate.id}} board </h2></a>
		   				<h2 ng-if="game.state === 'open'"> {{game.gameTemplate.id}} board </h2>
		   				<h4> Created on: {{game.createdOn}} </h4>
		   				<button ng-click="games.startGame(game._id)" value="Start game"> </button>
		   			</div>
		   			<div class="span2">
		   				</br>
		   				<span class="fa fa-group" style="font-size: 36px;" class="btn btn-default">{{game.players.length}}/{{game.maxPlayers}}</span>
		   			</div>
		   			<div class="span2">
		   				</br>
		   				<span ng-if="game.state === 'open'" class="fa fa-user-plus" style="font-size: 40px;" ng-click="games.join(game._id)"></span>
		   				<h4 ng-if="game.state !== 'open'" style="font-size: 20px;">Game is {{game.state}}</h4>
		   			</div>
		   			<div class="span2">
		   				<div ng-repeat="player in game.players">
		   					{{player.name}}
		   				</div>
		   			</div>
		   		</div>
   			</div>
   		</div>
	</div>